/*CSS for the result screen*/

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/public/images/sonuçekranı.png);
    margin-top: -8px;
    margin-left: -8px;
    margin-bottom: -8px;
    color: var(--font-color-1);
    width: 1400px;
    height: 2620px;
}

h3 {
    background: linear-gradient(to bottom, #10fdbeec, #8c00ff);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-weight: bold;
      font-weight: bold;
      font-size: 8rem;
      letter-spacing: 0.20rem;
      margin-top: 180px;
      animation: fadeIn 1s ease-in-out forwards;
}

.p4 {
    margin-top: -50px;
    font-size: 3.5rem;
    letter-spacing: 0.14rem;
}

.details {
    margin-left: 35px;
}

.details h4 {
    font-size: 3.1rem;
    letter-spacing: 0.14rem;
    margin-top: -5px;
    margin-bottom: 25px;
    color: var(--background-color-2);
}

.details p{
    font-size: 2rem;
    margin: 2px;
    padding-bottom: 6px;
}

.details strong {
    color: var(--background-color-2);
}

.status-icon {
    height: 50px;
    width: 50px;
    margin-top: -15px;
    margin-bottom: -16px;
}
